*, *::before, *::after{
    box-sizing: border-box;
}

body, p{
    padding:0;
    margin:0;
}

.top-bar, .login{
    position: sticky;
    top:0;
    width: 100%;
    overflow: hidden;
    background-color: #4CAF50;
}

.top-bar{
    color: blanchedalmond;
}

.login {
    background-color: #4CAF50;
    padding: 16px;
    display: block;
    z-index: 1000;
}

.box{
    height: 100vh;
}

.fullwidth{
    max-width:100vw !important;
}

.flexbox{
    justify-content:center;
    align-content:center;
    display:flex;
    align-items:center;
    flex-direction: column;

}

.ptsans {
    font-family: 'PT Sans', sans-serif;

}

.blocktext{
    text-align:center;
}


.iconrow {
    text-align: center;
    margin-top: 20%; 
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.iconbig i {
    border: black solid 5px;
    border-radius: 10px;
    font-size: 140px;
    background-color: white;
    margin-left: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
}

.text {
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
}
 
.forminsert {
    text-align: center;
    margin-top: 8%;
    background-color: white;
    margin-left: 33%;
    width: 33%; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.info p {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 30px;
    border: black solid;
    width: 80%;
    margin-left: 52px;
}

.buttonstandort {
    float: right;
    margin-right: 30px;
    margin-top: 22px;
}

.buttonstandort button {
    background-color: #4CAF50;
    padding: 7px;
    border-radius: 5px;
    font-size: 18px;
}

.icons {
    background-color: #E0E0E0;
}   

@keyframes loader{
    from{
        /* border-color: rgba(255, 99, 71, 1); */
        border: 10vh solid tomato;
    }
    to{
        /* border-color: rgba(255, 99, 71, 0.3); */
        border: 5vh solid tomato;
    }
}

@keyframes spinning{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

body{
    font-size: 200%;
}

#accountfont {
    font-size: 100%;
}

#loading{
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width:100vw;
    overflow: hidden;
    z-index: -1;
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10vh solid tomato;
    border-radius: 50%;
    animation: loader 500ms infinite alternate cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

#loading-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.collapsible-header, .collapsible-body{
    margin: 0 3vw;
    padding: 16px;
    width: 94vw;
}

.collapsible-header{
    border: none;
    color: blanchedalmond;
    background: #546E7A;
    cursor: pointer;
}

.collapsible-body{
    background: blanchedalmond;
    color: chocolate;
    overflow: hidden;
}

.buy-btn{
    border: none;
    color: blanchedalmond;
    padding: 8px;
    background-color: #4CAF50;
    cursor: pointer;
}
.buy-btn:disabled{
    color: crimson;
    text-decoration: line-through crimson;
    background-color: thistle;
    cursor: not-allowed;
}

#avatar{
    width: 25vh;
    height: 25vh;
    object-fit: cover;
    border-radius: 50%;
}

table td{
    border: 1px solid black;
    background-color: #4CAF50;
}

.spinning{
    animation: spinning 300ms alternate both ease-in-out infinite;
}